In [3]:
import pyspark.pandas as ps
import pandas as pd
import numpy as np

In [21]:
psdf = ps.DataFrame({
    "A" : 1.,
    "B" : pd.Timestamp(20240102),
    "C": pd.Series(1,index=list(range(4)),dtype='float32'),
    "D" : np.array([3]*4, dtype = 'int32'),
    "F" : 'foo'
})

In [14]:
psdf

     A                          B    C  D    F
0  1.0 1970-01-01 00:00:00.020240  1.0  3  foo
1  1.0 1970-01-01 00:00:00.020240  1.0  3  foo
2  1.0 1970-01-01 00:00:00.020240  1.0  3  foo
3  1.0 1970-01-01 00:00:00.020240  1.0  3  foo